.dll
.dll.meta
All in a Day's Work/Assets/Photon/*
All in a Day's Work/Assets/Plugins/*
All in a Day's Work/Library/*
All in a Day's Work/obj/*
All in a Day's Work/Photon*
All in a Day's Work/Temp/UnityTempFile-f3aa174b0f4258449b0a55f8725bf4f9
All in a Day's Work/Temp/UnityLockfile
All in a Day's Work/Temp/UnityTempFile-f3aa174b0f4258449b0a55f8725bf4f9
All in a Day's Work/Temp/UnityTempFile-f3aa174b0f4258449b0a55f8725bf4f9
